@import '../../sass/variables';
@import '../../sass/mixins';

.selectCellBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    width: 770px;
  }
}

.cellBox {
  display: flex;
  align-items: center;
  margin-bottom: 52px;
  width: 100%;
  flex-wrap: no-wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;

  @include desktop {
    flex-wrap: wrap;
    height: 368px;
  }
}

.cellEll {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-left: 16px;

  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 0px 6px 0px rgba(85, 115, 133, 0.4);
  font-family: Montserrat;
  cursor: pointer;
  transition: box-shadow 300ms ease;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 6px 0px $aсcentColor;
  }
}

.cellTextTitle {
  color: $aсcentColor;
  font-size: 20px;
  font-weight: 700;
}

.cellTextDiscription {
  color: $mainTextColor;
  font-size: 14px;
  font-weight: 500;
}

.cellEllNotAvailable {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-left: 16px;

  border-radius: 4px;
  background-color: rgba(244, 3, 128, 0.037);
  box-shadow: 0px 0px 4px 0px rgba(167, 89, 89, 0.4);
  pointer-events: none;
  cursor: default;
}

.cellEllIsChoice {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-left: 16px;

  border-radius: 4px;
  background-color: #00cc333c;
  border: 2px solid $aсcentColor;
  box-shadow: 0px 0px 6px 0px $aсcentColor;
  cursor: pointer;
}

.cellTextBox {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-self: flex-start;
  gap: 0;
}

.btnNavigateBox {
  display: flex;
  gap: 10px;
  min-width: 100%;
  justify-content: space-between;
}
