@import '../../sass/variables';
@import '../../sass/mixins';

.headerContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 14px;
  padding-right: 18px;
  height: 74px;

  border-bottom: 4px solid $lightGreyColor;

  @include tablet {
    padding-left: 34px;
    padding-right: 38px;
  }

  @include desktop {
    padding-left: 44px;
    padding-right: 48px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 360px;
    height: 4px;
    background: linear-gradient(90deg, #011461 0%, #032edd 100%);
  }
}

.headerLogo {
  display: flex;
  padding: 20px 0;
  width: 75px;
  align-items: center;
  fill: $mainTextColor;

  transition: fill 300ms ease;

  @include tablet {
    width: 100px;
  }

  @include desktop {
    width: 118px;
  }

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.headerMenu {
  display: flex;
  gap: 20px;
  align-items: flex-end;

  color: $greyColor;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;

  @include tablet {
    gap: 35px;
    font-size: 14px;
  }

  @include desktop {
    gap: 44px;
    font-size: 16px;
  }
}

.headerMenuLinkGrey {
  padding: 20px 0;
  color: $greyColor;
  transition: color 300ms ease;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.headerMenuLink {
  padding: 20px 0;
  color: $accentColor;
  font-size: 12px;

  @include tablet {
    font-size: 20px;
  }

  @include desktop {
    font-size: 22px;
  }
}
